.rmdtip {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  font-weight: bold;
  background: #f5f5f5 5px center/3em no-repeat;
  background-image: url("../images/tip.png");
}

table {
  font-size: .833em !important;
}

.book .book-body .page-wrapper .page-inner section.normal table tr.header {
    border-top-width: 0px;
    /*background-color: #e8e8e8;*/
}

.book .book-body .page-wrapper .page-inner section.normal table th {
	padding-top: 3px;
    padding-bottom: 3px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-color: #808080;
    border-bottom-color: #808080;
}

.book .book-body .page-wrapper .page-inner section.normal table td {
	padding-top: 3px;
    padding-bottom: 3px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
}

.book .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
    background-color: #f0f0f0;
}

.book .book-body .page-wrapper .page-inner section.normal table:not(.kable_wrapper) tr:last-child td {
    border-bottom-width: 1px;
    border-bottom-color: #808080;
}

caption {
  display: table-caption;
  font-size: .833em !important;
  text-align: left;
}

p.caption {
  #color: #777;
  margin-top: 10px;
  font-size: .833em !important;
  text-align: left;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
  color: #252525;
  border-left: 4px solid #858585
}


.level1 h1 {
  border-bottom: 1px solid;
}

.imp {
  border: 1px #aed6d963;
  border-style: dashed solid;
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #2ea8b3;
  background-color: #fcfcfc;
  background-image: url("general_images/lightbulb.png");
}



/*----------Headers-------*/

.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1.title {
  font-weight: 900;
}

}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}


h1.title {
  font-weight: 900;
  color: black;
}

.subtitle {
  font-weight: 300;
  font-style: normal;
}

.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

.pname {
  background-color: yellow;
}
